@import "./reset.scss";
@import "./layout";

.Light {
  h2 {
    @include text-colors($light-theme: true);
  }
  .catscontents {
    .origin {
      @include origin-colors($light-theme: true);
    }
    .name {
      @include text2-colors($light-theme: true);
    }
    .subs {
      @include text3-colors($light-theme: true);
    }
    .tempt {
      @include text4-colors($light-theme: true);
    }
  }
}

.Dark {
  h2 {
    @include text-colors($light-theme: false);
  }
  .catscontents {
    .origin {
      @include origin-colors($light-theme: false);
    }
    .name {
      @include text2-colors($light-theme: false);
    }
    .subs {
      @include text3-colors($light-theme: false);
    }
    .tempt {
      @include text4-colors($light-theme: false);
    }
  }
}

.saveimage {
  display: flex;
  justify-content: center;
  height: 1000px;
  .imagecontents {
    width: 750px;
    h2 {
      font-family: $defaultFont;
      font-weight: 500;
      font-size: 24px;
    }
    .likezone {
      display: flex;
      margin-top: 20px;

      .detailsection {
        flex: 1 1 65%;
        font-family: $defaultFont;
        padding-bottom: 50px;
        img {
          width: 95%;
          height: 500px;
          object-fit: cover;
        }
        .catscontents {
          padding-top: 30px;
          width: 95%;

          .origin {
            display: inline-block;
            height: 30px;
            padding-left: 15px;
            padding-right: 15px;
            line-height: 28px;
            border-radius: 15px;
            font-size: 16px;
            font-weight: 300;
          }
          .name {
            margin-top: 10px;
            font-size: 24px;
            font-weight: 700;
            padding-left: 10px;
          }
          .subs {
            padding-left: 10px;
            margin-top: 40px;
            font-weight: 500;
            font-size: 18px;
            line-height: 28px;
          }
          .tempt {
            display: inline-block;
            margin-top: 20px;
            padding-left: 10px;
            font-weight: 300;
            font-size: 16px;
          }
        }
        button {
          position: relative;
          margin-top: 30px;
          margin-left: 10px;
          padding-left: 15px;
          margin-bottom: 50px;
          width: 40%;
          height: 40px;
          font-size: 16px;
          text-align: left;
          font-family: $defaultFont;
          background: #e5e5e5;
          span {
            position: absolute;
            top: 8px;
            right: 15px;
          }
        }
      }
      .listsection {
        flex: 1 1 35%;
        .catimage {
          font-family: $defaultFont;
          li {
            margin-top: 20px;
            position: relative;
            display: inline-block;
            width: 50%;
            padding-top: 10px;
            img {
              width: 340px;
              height: 340px;
              object-fit: cover;
            }
            span {
              position: absolute;
              display: inline-block;
              padding-left: 10px;
              padding-right: 10px;
              height: 34px;
              background: rgba(255, 255, 255, 0.78);
              border-radius: 17px;
              top: 20px;
              left: 10px;
              line-height: 30px;
            }
          }
          .catslist {
            display: block;
            padding-top: 0;
            margin-top: 0;
            padding-bottom: 10px;
            width: 100%;
            img {
              width: 100%;
              height: 200px;
              object-fit: cover;
            }
            span {
              font-size: 12px;
              top: 10px;
              height: 28px;
              line-height: 27px;
            }
          }
        }
      }
    }
  }
}

@include mobile {
  .saveimage {
    .imagecontents {
      width: 100%;
      box-sizing: border-box;
      h2 {
        padding-left: 1rem;
        font-size: 20px;
      }
      .likezone {
        flex-direction: column;
        .detailsection {
          flex: none;
          width: 100%;
          padding-left: 1rem;
          padding-right: 1rem;
          box-sizing: border-box;
          img {
            width: 100%;
            height: 340px;
            object-fit: cover;
          }
          .catscontents {
            width: 100%;
          }
          button {
            width: 80%;
          }
        }

        .listsection {
          flex: none;

          .catimage {
            .catsgrid {
              width: 100%;
              text-align: center;
              span {
                left: 30px;
              }
            }

            .catslist {
              display: none;
            }
          }
        }
      }
    }
  }
}
